<style>
    body {
        background-color: #002855;
    }
</style>
<nav class="navbar-light bg-light invNav navbar-expand-md navbar-expand-sm navbar-expand-lg ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/"><img class="nav-brand invLogo ml-5" src="/img/heimdall_smaller.png" alt="heimdall logo"></a>
    <form class="form-inline mr-5">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <button type="button" id="newOrder" class="btn btn-primary btn-sm mx-4 my-sm-0" data-toggle="modal"
                data-target="#exampleModal" data-whatever="@mdo">New Order</button>

            <button type="button" id="newInventory" class="btn btn-primary btn-sm my-2 my-sm-0" data-toggle="modal"
                data-target="#exampleModal" data-whatever="@mdo">New Inventory</button>
        </div>
    </form>
</nav>

<div class="card p-5 vw-100 mb-5 vh-75">
    <h2 class="text-center mb-5 font-weight-bold">Current Inventory</h2>
    <table class="table table-hover table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">SKU</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Wholesale</th>
                <th scope="col">MSRP</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody id="data-container"> </tbody>
    </table>
</div>

<!-- Footer -->
<div class="card text-white" id="pagination-container" style="background-color: #002855;">
    <img src="/img/heimdall.base.png" class="mx-auto d-block img-fluid"
        style="max-width: 50%; padding-top:1rem; padding-bottom:5px;">
</div>


<script src="/js/newOrder.js"></script>
<script src="/js/newInventory.js"></script>
<script src="/js/updateProd.js"></script>