<nav class="navbar-light bg-light invNav navbar-expand-md navbar-expand-sm navbar-expand-lg ">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline mr-5">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/"><img class="navbar-brand invLogo mr-auto ml-auto" src="/img/heimdall_smaller.png" alt="heimdall logo"></a>
        </li>
        <li class="nav-item">
          <button type="button" id="goCurrent" class="btn btn-primary btn-sm my-sm-0 ml-auto" data-toggle="modal">Current
            Inventory</button>
        </li>
      </ul>
    </div>
  </form>
</nav>

<div class="container">
  <div class="card mx-auto mt-5">
    <div class="card-body">
      <div id="table" class="table-editable">
        <h2 class="text-center font-weight-bold">New Order</h2>
        <span class="table-add float-right mb-4 mr-4"><a href="#!" class="text-success">
            <i class="fas fa-plus fa-2x" style="color: #002855" aria-hidden="true"></i></a></span>


        <table
          class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Buy/Sell</th>
              <th class="text-center">Client Name</th>
              <th class="text-center">SKU</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Price Per Unit</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-3-half">
                <select id="buy-sell_0" class="browser-default custom-select custom-select-lg mb-3">
                  <option value="" disabled selected hidden>Select</option>
                </select>
              </td>
              <td class="pt-3-half"><input class="form-control" id="client-name_0"></td>
              <td class="pt-3-half">
                <select id="sku_0" class="browser-default custom-select custom-select-lg mb-3">
                  <option value="" disabled selected hidden>Select</option>
                </select>
              </td>
              <td class="pt-3-half">
                <input class="form-control" type="number" step="1" id="quantity_0">
              </td>
              <td class="pt-3-half" id="price-per-unit_0"></td>
              <td><span class="table-remove"><button type="button"
                    class="btn btn-default btn-rounded btn-sm my-0">Remove</button></span></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


    <div class="modal-footer">
      <button type="button" id="submit-order" class="btn btn-primary btn-sm my-sm-0">Submit</button>
      <button type="button" id="close-screen" class="btn btn-primary btn-sm my-sm-0" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>


<script src="/js/newOrder.js"></script>